input {
    border-color: transparent;
    width: 90%;
}

body {
    padding: 15px 5px;
    background-color: rgb(153, 193, 233);
}
.grid {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;

    border: 3px solid black;
    margin: auto;
    background-color: rgb(153, 193, 233);
    box-shadow: 0px 0px 100px 15px rgba(0, 29, 255, 0.7);
    max-width: 1000px;
}
.grid > div {
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    padding: 3px;
}

.header {
    background: rgb(50,50,50);
    color: white;
    grid-column: 1/3;
    font-size: 130%;
}

.inbox {
    background: white;
    grid-column: 1/2;
    grid-row: 2/4;

    display: grid;
    grid-template-rows: repeat(30px, 80px);
}

.inbox > div {
    border: 1px solid black;
    height: 80px;
    border-radius: 0;
    width: 100%;
}

.to {
    background: white;
    grid-column: 2/3;
}

.message {
    grid-column: 2/3;
    height: 500px;
    width: auto;
    border: 2px solid black;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.send {
grid-column: 2/3;
width: 5em;
font-size: 110%;
justify-self: end;
margin: 0 10px 10px 0;
}