


.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
}

.grid > div {
    border: 3px solid black;
}

.inbox {
    grid-column: 1/2;
    grid-row: 1/3;
}

.to {
    grid-column: 2/3;
}

.message {
    grid-column: 2/3;
}