input {
    border-color: transparent;
    width: 90%;
}

body {
    padding: 15px 5px;
    background-color: rgb(153, 193, 233);
}
.grid {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;

    border: 3px solid black;
    margin: auto;
    background-color: rgb(153, 193, 233);
    box-shadow: 0px 0px 100px 15px rgba(0, 29, 255, 0.7);
    max-width: 1000px;
}
.grid > div {
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    padding: 3px;
}

.header {
    background: rgb(50,50,50);
    color: white;
    grid-column: 1/3;
    font-size: 130%;
}

.inbox {
    background: white;
    grid-column: 1/2;
    grid-row: 2/4;

    display: flex;
    flex-flow: column wrap;
    overflow-y: scroll;
    max-height: 100%;
}

.inbox > div {
    border: 1px solid black;
    border-radius: 0;
    width: 100%;
}
.inboxPopup {
    display: none;

    border: 3px solid black;
    position: absolute;
    top: 25px;
    left: 25px;
    background-color: rgb(153, 193, 233);
    box-shadow: 0px 0px 100px 15px rgba(0, 29, 255, 0.7);
    max-width: 1000px;
    z-index: 1;
}

.to {
    background: white;
    grid-column: 2/3;
}

.message {
    grid-column: 2/3;
    grid-row: 3/4;
    height: 500px;
    width: auto;
    border: 2px solid black;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.send {
    grid-column: 2/3;
    grid-row: 4/5;
    width: 5em;
    font-size: 110%;
    justify-self: end;
    margin: 0 10px 10px 0;
}

.X {
    display: none;
    color: rgb(168, 26, 61);
    float: right;
    font-size: 30px;
    height: 40px;
    width: 40px;
    text-align: center;
}

.X:hover {
    color: deeppink;
    cursor: pointer;
}